*{
  padding:0px;
  margin:0px;
  scroll-behavior: smooth;
}

.navigation{
  height: 85px;
  float: right;
  background-color: #000000c2;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.navigation ul > li{
  padding-right: 70px;
  padding-top: 15px;
  display: inline-block;
}
.navigation ul > li >a{
  text-decoration:none;
  font-family:"Lato";
  font-size:22px;
  color:white;
}

.navigation ul > li >a:hover{
  border-bottom:solid 2px #1556C1;
}

.logo{
  height:50px;
}

.banner{
  background-image: url("../images/pet.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}

.banner p{
  padding: 22% 0% 0% 10%;
  color: white;
  font-weight: 500;
  font-family: monteserrat sans-serif;
  font-size: 28px;
}

.banner h1{
  font-family: monteserrat sans-serif;
  color: white;
  padding: 1% 0% 0% 10%;
  font-size: 60px;
  font-weight: 600;
}

.banner h4{
  padding: 1% 0% 4% 10%;
  color: white;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
}

.readmore{
  border: none;
  text-decoration:none;
  border: solid 1px #f1e9e9;
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: 100;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  background-color:#003663;
}

.readmore:hover{
  background-color:#000; 
}

.readmoree{
    border: none;
    text-decoration: none;
    border: solid 1px #f1e9e9;
    padding: 10px 20px 10px 20px;
    color: white;
    margin-right: 20px;
    font-weight: 100;
    font-size: 24px;
    font-family: monteserrat sans-serif;
    background-color: transparent;
}

.readmoree:hover{
  background-color:#000; 
}

.readmoreee{
  border: none;
  text-decoration: none;
  border: solid 1px #f1e9e9;
  padding: 10px 20px 10px 20px;
  color: white;
  margin-right: 20px;
  font-weight: 100;
  border-radius:5%;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  background-color: #003663;
}

.readmoreee:hover{
background-color:#000; 
}

.About{
  padding-top:5%;
}

.About h2{
  padding: 1%;
  color: #000;
  font-size: 30px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

.About h4{
    padding: 1%;
    color: #000;
    font-size: 30px;
    font-family: monteserrat sans-serif;
    font-weight: 200;
    text-align: center;
}

.About p{
  padding: 1% 10% 2% 10%;
  color: #000;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

.About hr{
    background-color: #155FDA;
    width: 10%;
    height: 1px;
}

#Portfolio{
  padding-bottom:4%;
}

.Portfolio h2{
  padding: 1%;
  color: #000;
  font-size: 30px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

.Portfolio hr{
  background-color: #155FDA;
  width: 10%;
  height: 1px;
}

.Portfolio p{
  padding: 2%;
  color: #000;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

.responsive{
  height: auto;
  width: 100%;
}

.samples{
  display:flex;
  justify-content: space-around;
  padding-top: 3%;
}

#one > img{
  width: 100%;
  box-shadow: 2px 2px 2px 2px grey;
  height: auto;
}

#one{
  flex-direction: column;
  font-family:monteserrat sans-serif;
  padding: 10px;
  text-align: center;
  color: #000;
  font-size: 20px;
}

.folio{
  height: 85px;
  float: right;
  position: absolute;
  z-index: 3;
  width: 100%;
}

.folio ul > li{
  padding-right: 70px;
  padding-top: 15px;
  display: inline-block;
}
.folio ul > li >a{
  text-decoration:none;
  font-family:"Lato";
  font-size:22px;
  color:000;
}

.folio ul > li >a:hover{
  border-bottom:solid 2px #1556C1;
}

.edu p{
  padding: 1% 10% 2% 10%;
  color: white;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

.edu{
  padding-top:5%;
}

#eduu{
  background-image: url("../images/bg3.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}

.Skills h2 {
  padding-top: 4%;
  color: #000;
  font-size: 30px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

#cent{
  background-color: #e2e2e2;
}

.Coding h2{
  padding: 1%;
  color: #000;
  font-size: 30px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}
.Coding p{
  padding: 1% 10% 2% 10%;
  color: #000;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

.Coding hr{
  background-color: #155FDA;
  width: 10%;
  height: 1px;
}

#Coding{
  padding-top: 5%;
}

#Contact{
  padding-top: 5%;
}


  .footer{
    background-color:grey;
    display:flex;
    justify-content: space-around;
  }
  .footer ul > li >a{
    color: white;
    text-decoration:none;
    font-family: "Lato";
    font-size: 20px;
  }
 

  .footer ul > li{
    display:block;
    padding:10px;
  }

  ::placeholder {
    color: black;
    font-family: "Lato";
    font-size: 14px;
  }

.mail{
  border:none;
  border-bottom: solid 1px white;
  background-color: grey;
  width: 100%;
  padding:1%;
}

input{
  padding-top: 3%;
}

.readmores{
  border: none;
  text-decoration: none;
  border: solid 1px #f1e9e9;
  padding: 10px 20px 10px 20px;
  color: white;
  margin-right: 20px;
  font-weight: 100;
  border-radius:5%;
  font-size: 24px;
  font-family: monteserrat sans-serif;
  background-color: #003663;
  margin: 2%;
}

#con {
  padding-top: 4%;
  color: #000;
  font-size: 30px;
  font-family: monteserrat sans-serif;
  font-weight: 200;
  text-align: center;
}

@media only screen and (max-width:760px){
  .navigation {
    height: auto;
    float: right;
    background-color: #000000c2;
    position: fixed;
    z-index: 3;
    width: 100%;
}
}
